.nav-konteiner ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-konteiner ul li {
    margin-right: 5px;
    display: block;
    padding: 5px;
    background-color: blanchedalmond;
    text-align: center;
}

.nav-konteiner ul li:hover {
    background-color: burlywood;
}

.nav-konteiner ul li.valitud {
    background-color: chocolate;
}

.nav-konteiner ul li a {
    color: black;
}